// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";




@import '../node_modules/bootstrap/scss/bootstrap';



.ost2
{
	//@include font-size(1rem);

	//font-size: calc(3vw + 0.3vh + 0.5vmin);
	//font-size: 1rem;
	//font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem) !important;
	//font-size: 20px;
	//font-size: 4vw;
	font-size: clamp( 1rem, 3vw, 2rem);


}

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.index{
	background: linear-gradient(to bottom, #6be5f2 0%, #c39dff 100%);
}

.navbar-collapse, {
	background: linear-gradient(to bottom, #f8e534 0%, #8bc63f 100%);

}

.kalundborgpage, {
	background: linear-gradient(to bottom, #f8e534 0%, #8bc63f 100%);

}

.headersog{
	background: linear-gradient(to bottom, #6be5f2 0%, #c39dff 100%);
}

.kortbg{
	background: linear-gradient(to bottom, #6be5f2 0%, #c39dff 100%);
}

#ged {
	position: absolute;
	bottom: 0;
	left: 0;
}

#sidebar-wrapper {
	width: 140px;
}


.navbar-toggler{
border-color: transparent;
}

.wrapper{
	transition: 0.1s ease;

}

.fa-magnifying-glass{
	color: white;
}


.fa-magnifying-glass{
	color: #ea196a;
}

.fa-arrow-left{
	color: white;
}

#pil{
	border: transparent;
	background-color: transparent;
}

.card{
	border: transparent;
}

#rundsog{
	border: transparent;
	background-color: transparent;
	color: white;
	border-bottom-color: white;
	border-bottom: 2px solid ;
	border-radius: 1px;

}


#sog{
	border: transparent;
}



#read{
	color: #0a4c59;
	border: transparent;
}

#navn{
	color: white;

}



#card-img-overlay, #card-img-overlay1, #card-img-overlay2, #card-img-overlay3, #card-img-overlay4{
	position: absolute;
	bottom: 0;
	left: 12px;
	color: white;
}

#card-img-overlay5, #card-img-overlay6, #card-img-overlay7, #card-img-overlay8, #card-img-overlay9{
	position: absolute;
	bottom: 0;
	left: 12px;
	color: #6be5f2;
	-webkit-text-stroke: 1px #69afbf;

}
.fa-bars{
	color: #ea196a;
}


#icon{
	color: white;
}

#kort{
	max-width: 310px;
}


.ost{
	color: white !important;
	font-size: 1.2rem;

}



#stilborder, #stilborder2{
	border: transparent;
	background-color: transparent;
	border-bottom-color: rgba(112, 124, 136, 0.87);
	border-bottom: 1.5px solid ;
	border-radius: 1px;

}

