// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.index{
	background: linear-gradient(to bottom, #6be5f2 0%, #c39dff 100%);
}

.navbar-collapse, {
	background: linear-gradient(to bottom, #f8e534 0%, #8bc63f 100%);

}

.kalundborgpage, {
	background: linear-gradient(to bottom, #f8e534 0%, #8bc63f 100%);

}

.headersog{
	background: linear-gradient(to bottom, #6be5f2 0%, #c39dff 100%);
}

#ged {
	position: absolute;
	bottom: 0;
	left: 0;
}

#sidebar-wrapper {
	width: 140px;
}


.navbar-toggler{
border-color: transparent;
}

.wrapper{
	transition: 0.1s ease;
}

.fa-magnifying-glass{
	color: white;
}

.fa-bars{
	color: #ea196a;
}

.fa-magnifying-glass{
	color: #ea196a;
}

.fa-arrow-left{
	color: white;
}

.card{
	border: transparent;
}

#rundsog{
	border: transparent;
	background-color: transparent;
	color: white;
	border-bottom-color: white;
	border-bottom: 2px solid ;
	border-radius: 1px;

}


#sog{
	border: transparent;
}



#read{
	color: #0a4c59;
	border: transparent;
}

#navn{
	color: white;

}

#icon{
	color: white;
}